* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #edeef0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cats-api{
  margin: 1rem;
}

.card{
  max-width: 85vw;
  padding: 1rem;
  margin: 1rem;
  background-color: #ffffff;
  border-radius: .7rem;
  box-shadow: .3rem .3rem 1rem gray;
}

.img {
  height: 100%;
  width: 100%;
}

.btn {
  padding: .7rem;

  font-weight: bold;
  cursor: pointer;
}